page-login {

    .login-bg{
       background:#aaaaaa;
    }

    .login-main{
       display: flex;
       flex-direction: column;
       height: 100%;
    }

    .login-inputs{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .text-input-wp{
        border-color: #fff;
    }

}
