<ion-header>

  <ion-navbar color="primary">
    <ion-title>Descripcion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-content" padding>


  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4>
      <img class="img-detail" src="{{data.imagen}}">
    </ion-col>
  </ion-row>

  <ion-row>


    <abbr title="Marcar como favorito">
          <button class="ad-botton" ion-button icon-only outline (click)="addFavorito()">
            <ion-icon class="icono" name="md-heart" > AGREGAR </ion-icon>
          </button>
      </abbr>

    <abbr title="Eliminar de favoritos">

          <button *ngIf="(fav == true) || (admin == true && fav == false)"  class="ad-botton" ion-button icon-only outline (click)="delete()">
            <ion-icon class="icono" name="md-trash" >  ELIMINAR</ion-icon>
          </button>
       </abbr>
  </ion-row>

  <h1> {{data.nombre}} </h1>
  <p> Disponible en almacenes: {{data.almacen}} </p>
  <p> Valido hasta: {{data.vigencia}}</p>

  <br>
  <h1> Articulos Similares</h1>

  <ion-row >
    <ion-slides pager *ngFor="let h of novedades" >

      <ion-slide (click)="goToDetail(id = h._id)">
        <img src="{{h.imagen}}">
      </ion-slide>
      
    </ion-slides>
  </ion-row>

  <ion-fab *ngIf="admin == true" right bottom (click)="goToEdit()">
    <button ion-fab icon-only color="reddark"> <ion-icon name="md-create"></ion-icon> </button>
  </ion-fab>



</ion-content>