page-descripcion {

.bg-content{
    background: #ddd ;
}



    .img-detail{        
        width: 100%;
    }

.ad-botton{
    border-radius: 40px;
}

.icono{
    color: black;
    align-content: center;
    text-align: center;
}
 
}
