page-descripcion {

.bg-content{
    background: #ddd ;
}

    .img-detail{        
        width: 100%;
    }

.icono{
    color: black;
    background: transparent;
    position: relative;
    bottom: 10px;
    right: 5px;
}
 
}
